<br>
<h1 class="text-center">Upload Assignments</h1>
<br>
<div class="container">
  <div class="col-md-10 offset-md-1">
    <form [formGroup]="uploadForm" enctype="multipart/form-data" (ngSubmit)="onUpload()" novalidate>
      <input type="file" id="coverThumbnail" name="coverThumbnail" (change)="onChange($event)" #fileInput>
      <hr>
      <input type="text" id="remarks" class="form-control" formControlName="remarks" placeholder="Remarks">
      <br>
      <br>
      <img id="previewImg" style="max-width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Dummy_flag.png" #imgPreview
        alt="upload image">
      <hr>
      <button type="submit" [disabled]="uploadForm.invalid || loading" class="btn btn-success">Upload
      </button>
    </form>
  </div>
</div>