<br>
<h1 class="text-center">Add Tutor</h1>
<div class="container">
  <form #addTutorsForm="ngForm" (ngSubmit)="onSaveTutor()" novalidate>
    <div class="col-10 offset-1">
      <h5> Name of Tutor:</h5>
      <div class="form-group row">
        <input id="tutor_name" #tutor_name="ngModel" name="tutor_name" type="text" [(ngModel)]="model.tutor_name" placeholder="Name of Tutor"
          class="form-control" [ngClass]="{'has-error': tutor_name.errors}" required/>
      </div>
      <h5>Subjects Taught:</h5>
      <div class="form-group row">
        <input id="tutor_subjects" #tutor_subjects="ngModel" name="tutor_subjects" type="text" [(ngModel)]="model.tutor_subjects"
          placeholder="Subjects Taught" class="form-control" [ngClass]="{'has-error': tutor_subjects.errors}" required/>
      </div>
      <h5>Links to Face Photo:</h5>
      <div class="form-group row">
        <input id="face_photo" #face_photo="ngModel" name="face_photo" type="text" [(ngModel)]="model.face_photo" placeholder="Photo of Face"
          class="form-control" [ngClass]="{'has-error': face_photo.errors}" required/>
      </div>
      <h5>Initial Lesson Date:</h5>
      <div class="form-group row">
        <input id="first_lesson_date" #first_lesson_date="ngModel" name="first_lesson_date" type="date" [(ngModel)]="model.first_lesson_date"
          placeholder="Initial Date" class="form-control" [ngClass]="{'has-error': first_lesson_date.errors}" required/>
      </div>
      <h5>Final Lesson Date:</h5>
      <div class="form-group row">
        <input id="last_lesson_date" #last_lesson_date="ngModel" name="last_lesson_date" type="date" [(ngModel)]="model.last_lesson_date"
          placeholder="Final Date" class="form-control" [ngClass]="{'has-error': last_lesson_date.errors}" required/>
      </div>
      <h5>Tuition Cost per Hour ($$$):</h5>
      <div class="form-group row">
        <input id="hourly_rates" #hourly_rates="ngModel" name="hourly_rates" type="number" [(ngModel)]="model.hourly_rates" placeholder="Cost Per Hour"
          class="form-control" [ngClass]="{'has-error': hourly_rates.errors}" required/>
      </div>
      <h5>Students per Class:</h5>
      <div class="form-group row">
        <input id="student_count" #student_count="ngModel" name="student_count" type="number" [(ngModel)]="model.student_count" placeholder="Students Per Class"
          class="form-control" [ngClass]="{'has-error': student_count.errors}" required/>
      </div>
      <button type="submit" id="saveTutorBtn" [disabled]="!addTutorsForm.form.valid" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<!--public id: number,
public tutor_name: string,
public tutor_subjects: string,
public topics: string,
public face_photo: string,
public first_lesson_date: Date,
public last_lesson_date: Date,
public hourly_rates: number,
public student_count: number-->