<br>
<h1 class="text-center">Search Tutors</h1>
<div class="container">
  <div class="jumbotron">
    <form #searchTutorsForm="ngForm" (ngSubmit)="onSearch()" novalidate class="row">
      <div class="input-group col-sm-8">
        <select class="form-control col-sm-3" #searchType="ngModel" id="searchType" [(ngModel)]="model.searchType" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let type of searchTypes" [ngValue]="type.value">{{type.desc}}</option>
        </select>
        <input id="keyword" #keyword="ngModel" name="keyword" type="text" [(ngModel)]="model.keyword" placeholder="Search Tutors!"
          class="form-control" #title="ngModel" [ngClass]="{'has-error': keyword.errors}" required/>
      </div>
      <div class="col-sm-2">
        <input id="itemsPerPage" #itemsPerPage="ngModel" name="itemsPerPage" type="number" [(ngModel)]="model.itemsPerPage" placeholder="10"
          class="form-control" #title="ngModel" />
      </div>
      <div class="col-sm-2">
        <button type="submit" id="searchBtn" [disabled]="!searchTutorsForm.form.valid" class="btn btn-primary" id="search">Search</button>
      </div>
    </form>
  </div>
  <div *ngIf="(result)?.length > 0" class="row">
    <div class="col-xs-12 col-12 col-md-6">
      <pagination class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
        [itemsPerPage]="model.itemsPerPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
  <pre *ngIf="(result)?.length > 0" class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>
  <hr>
  <table *ngIf="(result)?.length > 0" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Tutor Photo</th>
        <th>Tutor Details</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tutor of result; let i = index">
        <th scope="row">{{i+1+((currentPage-1)*perPage)}}</th>
        <td>
          <img style="max-height: 210px;" src="{{tutor.face_photo}}" alt="..." class="img-fluid img-thumbnail">
        </td>
        <td>
          <tr>Tutor Name: {{tutor.tutor_name}}</tr>
          <tr>Subjects Taught: {{tutor.tutor_subjects}}</tr>
          <tr>Subject Topics: {{tutor.topics}}</tr>
          <tr>Lesson Start Date: {{tutor.first_lesson_date | date}}</tr>
          <tr>Lesson End Date: {{tutor.last_lesson_date | date}}</tr>
          <tr>Cost Per Hour: ${{tutor.hourly_rates}}</tr>
          <tr>Students Per Class: {{tutor.student_count}}</tr>
        </td>
        <td>
          <button class="btn btn-primary" title="edit tutor" (click)="edit(tutor, template, i)">
            <i class="fas fa-edit" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" title="delete tutor" (click)="delete(tutor, template2, i)">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="(result)?.length==0">
    <p class="font-weight-bold">No tutors found.</p>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Tutor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br>
    <div class="container">
      <form #editTutorsForm="ngForm" (ngSubmit)="onSaveEditTutor()" novalidate>
        <h5>Database ID:</h5>
        <div class="form-group row">
          <input id="id" #id="ngModel" name="id" type="number" [(ngModel)]="editTutor.id" placeholder="Identification Number" class="form-control"
            [ngClass]="{'has-error': id.errors}" required/>
        </div>
        <h5>Name of Tutor:</h5>
        <div class="form-group row">
          <input id="tutor_name" #tutor_name="ngModel" name="tutor_name" type="text" [(ngModel)]="editTutor.tutor_name" placeholder="Name of Tutor"
            class="form-control" [ngClass]="{'has-error': tutor_name.errors}" required/>
        </div>
        <h5>Subjects Taught:</h5>
        <div class="form-group row">
          <input id="tutor_subjects" #tutor_subjects="ngModel" name="tutor_subjects" type="text" [(ngModel)]="editTutor.tutor_subjects"
            placeholder="Subjects Taught" class="form-control" [ngClass]="{'has-error': tutor_subjects.errors}" required/>
        </div>
        <h5>Subject Topics:</h5>
        <div class="form-group row">
          <input id="topics" #tutor_subjects="ngModel" name="topics" type="text" [(ngModel)]="editTutor.topics" placeholder="Subjects Taught"
            class="form-control" required/>
        </div>
        <h5>Links to Face Photo:</h5>
        <div class="form-group row">
          <input id="face_photo" #face_photo="ngModel" name="face_photo" type="text" [(ngModel)]="editTutor.face_photo" placeholder="Photo of Face"
            class="form-control" [ngClass]="{'has-error': face_photo.errors}" required/>
        </div>
        <h5>Initial Lesson Date:</h5>
        <div class="form-group row">
          <input id="first_lesson_date" #first_lesson_date="ngModel" name="first_lesson_date" type="date" [(ngModel)]="editTutor.first_lesson_date"
            placeholder="Initial Date" class="form-control" [ngClass]="{'has-error': first_lesson_date.errors}" required/>
        </div>
        <h5>Final Lesson Date:</h5>
        <div class="form-group row">
          <input id="last_lesson_date" #last_lesson_date="ngModel" name="last_lesson_date" type="date" [(ngModel)]="editTutor.last_lesson_date"
            placeholder="Final Date" class="form-control" [ngClass]="{'has-error': last_lesson_date.errors}" required/>
        </div>
        <h5>Tuition Cost per Hour ($$$):</h5>
        <div class="form-group row">
          <input id="hourly_rates" #hourly_rates="ngModel" name="hourly_rates" type="number" [(ngModel)]="editTutor.hourly_rates" placeholder="Cost Per Hour"
            class="form-control" [ngClass]="{'has-error': hourly_rates.errors}" required/>
        </div>
        <h5>Students per Class:</h5>
        <div class="form-group row">
          <input id="student_count" #student_count="ngModel" name="student_count" type="number" [(ngModel)]="editTutor.student_count"
            placeholder="Students Per Class" class="form-control" [ngClass]="{'has-error': student_count.errors}" required/>
        </div>
        <button type="submit" id="editTutorBtn" [disabled]="!editTutorsForm.form.valid" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Tutor ?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br>
    <div class="container">
      <form #delTutorForm="ngForm" (ngSubmit)="onDelTutor()" novalidate>
        <div class="form-group row">
          <label for="id" class="font-weight-bold">Database ID: &nbsp;</label>{{editTutor.id}}
        </div>
        <div class="form-group row">
          <label for="tutor_name" class="font-weight-bold">Name of Tutor: &nbsp;</label>{{editTutor.tutor_name}}
        </div>
        <div class="form-group row">
          <label for="tutor_subjects" class="font-weight-bold">Subjects Taught: &nbsp;</label>{{editTutor.tutor_subjects}}
        </div>
        <div class="form-group row">
          <label for="topics" class="font-weight-bold">Subject Topics:&nbsp;</label>{{editTutor.topics}}
        </div>
        <div class="form-group row">
          <label for="face_photo" class="font-weight-bold">Link to Face Photo: &nbsp;</label>{{editTutor.face_photo}}
        </div>
        <div class="form-group row">
          <label for="first_lesson_date" class="font-weight-bold">Initial Lesson Date: &nbsp;</label>{{editTutor.first_lesson_date}}
        </div>
        <div class="form-group row">
          <label for="last_lesson_date" class="font-weight-bold">Final Lesson Date: &nbsp;</label>{{editTutor.last_lesson_date}}
        </div>
        <div class="form-group row">
          <label for="hourly_rates" class="font-weight-bold">Tuition Cost per Hour ($$$): &nbsp;</label>{{editTutor.hourly_rates}}
        </div>
        <div class="form-group row">
          <label for="student_count" class="font-weight-bold">Students per Class: &nbsp;</label>{{editTutor.student_count}}
        </div>
        <button type="submit" id="deleteTutorBtn" class="btn btn-primary">Yes</button>
      </form>
    </div>
  </div>
</ng-template>