<footer *ngIf="isLogon || async">
  <br>
  <div class="container">
    <a class="logo-font" routerLink="/">Booking Application</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}. Application Assignment by Jeffrey Goh . Source Code licensed under MIT.
    </span>
  </div>
</footer>