<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;" *ngIf="isLogon || async">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tutoring Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <i class="fas fa-home"></i>&nbsp;Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Tutors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/tutors/add" routerLinkActive="active">
            <i class="fas fa-plus"></i>&nbsp;Add</a>
          <a class="dropdown-item" routerLink="/tutors">
            <i class="fas fa-book"></i>&nbsp;Search</a>
          <a class="dropdown-item" routerLink="/tutor-upload">
            <i class="fas fa-upload"></i>&nbsp;Upload</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Tutor Editor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/tutors/details" routerLinkActive="active">
            <i class="fas fa-plus"></i>&nbsp;Add Tutor Details</a>
          <a class="dropdown-item" routerLink="/tutors/list">
            <i class="fas fa-book"></i>&nbsp;List Tutor Details</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </span>
  </div>
</nav>